:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #393e46; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Universal Styling */ 
h1{
  text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f2f2f2; 
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bolder;
}

textarea {
  padding: 20px; /* Larger padding for a bigger text box */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333333;
  width: 20vw;
  height: 10vh;
}

table {
  table-layout: fixed;
  background-color: #333333;
  width: 40vw;
  height: 5vh;
}

tr, th, td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle; /* Center text vertically */
}

td {
  width: 3vw; /* Fixed width for each td */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflow content */
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333333;
  width: 20vw;
  height: 4vh;
}


button {
  padding: 15px 30px; /* Adjusted padding for buttons */
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 12px; /* Adjusted font size */
  border: none;
  border-radius: 8px; /* Adjusted border radius for smaller buttons */
  cursor: pointer;
  width: 15vw;
  height: 5vh;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Initial shadow for normal state */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

button:hover{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

button:active{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1) inset;
  transform: scale(.95); /* Inset shadow for pressed state */
}
/* BIG CONTAINER */
#mainContainer {
  background-color: #222831;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* little containers */ 

.smallContainer {
  display: flex;
  flex-direction: column;
}


/**** Button Styling ****/

/* send messages button */ 
#sendMessagesButton {
  background-color: red;
  color: white;
}


#sendMessagesButton:hover {
  background-color: orangered; /* Darker cyan on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

#sendMessagesButton:active {
  background-color: darkred; /* Darker cyan on click */
  box-shadow: none; /* Remove shadow on click */
}

/* select csv button */ 

#selectCSVButton {
  background-color: forestgreen;
  color: white;

}


#selectCSVButton:hover {
  background-color: lightgreen; /* Darker cyan on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

#selectCSVButton:active {
  background-color: darkgreen; /* Darker cyan on click */
  box-shadow: none; /* Remove shadow on click */
}

/* test phone button */ 


#testPhoneButton {
  background-color: orange;
  color: white;

}

#testPhoneButton:hover {
  background-color: lightsalmon; /* Darker cyan on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

#testPhoneButton:active {
  background-color: orangered; /* Darker cyan on click */
  box-shadow: none; /* Remove shadow on click */
}


/* misc */ 

#count {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
}



.enabled {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333333;
  width: 20vw;
  height: 4vh;
}

.disabled {
  background-color: #f0f0f0;
  color: #999;
  border-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

/* POP UP STYLING */

#messageStatusDiv {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal {
  font-size: 18px;
  background-color: darkslategrey;
  width: 70%;
  max-width: 500px; /* Set a max-width for responsiveness */
  height: auto;
  padding: 20px; /* Add padding to avoid text overlapping with the close button */
  border: 2px solid whitesmoke;
  border-radius: 1.5%;
  position: fixed; /* Use fixed positioning to ensure it stays centered */
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Adjust the centering with transform */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
  text-align: center; /* Center the text inside the modal */
}

.modal .close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  right: 10px; /* Position the button closer to the right edge */
  top: 10px; /* Position the button closer to the top edge */
  width: 27px;
  height: 27px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: darkcyan;
  border-radius: 50%;
  border: 1px solid #cfcece;
  transition: background 0.3s, transform 0.3s;
}

.modal .close:hover {
  background: #007f7f;
  transform: scale(1.1);
}

.modal .close:active {
  background: #006666;
  transform: scale(0.9);
}

/* SELECT MODE BUTTON STYLING */ 
#modeButton {
  overflow: visible;
}

#modeButton .knobs:before {
  content: "Email";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 45px;
  height: 25px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
}

#modeButton .layer,
#modeButton .knobs,
#modeButton .knobs:before {
  transform: rotateZ(0);
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#modeButton .checkbox:checked + .knobs {
  transform: rotateZ(-180deg);
}

#modeButton .checkbox:checked + .knobs:before {
  content: "SMS";
  background-color: green;
  transform: rotateZ(180deg);
}

#modeButton .checkbox:checked ~ .layer {
  background-color: #d7e3e3;
  transform: rotateZ(180deg);
}

.toggle-button-cover {
  display: block;
  position: relative;
  width: 200px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 0px;
  border-radius: 4px;
}

.button-cover:before {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 90px;
  height: 50px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* mobile responsive styling */

@media (max-width: 768px) {
  #mainContainer {
    width: 90%; /* Increase width for mobile screens */
  }

  textarea, input {
    width: 90%; /* Adjust input and textarea width for mobile */
  }

  button {
    width: 90%; /* Adjust button width for mobile */
    padding: 10px 20px; /* Adjust button padding for mobile */
  }

  .smallContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents of each container */
    margin: 10px 0; /* Add some vertical spacing */
  }

  .previewContainer {
    display: none;/* hide preview on mobile */
  }

}